# Android Studio / IntelliJ IDEA
.idea/
*.iml
.gradle/
local.properties
.DS_Store
build/
captures/
.externalNativeBuild
.cxx

# Gradle
.gradle
/build/
/*/build/

# Local configuration file

# User-specific configurations
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/.name
.idea/compiler.xml
.idea/misc.xml

# Keystore files
*.jks
*.keystore

# External native build folder generated in Android Studio 2.2 and later

# Google Services (e.g. APIs or Firebase)
google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Version control
vcs.xml
shelf/
/.kotlin/
